:root{
    --blue-sonored:#24B9FF;
    --dark-blue:#0F4E6D;
    --footer:#C9EEFF;
    --base-blue:#F2FBFF;
    --plans-blue:#197EAF;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
    background-color: var(--base-blue);
    font-family: 'lato', sans-serif;
}
.header--background{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width:100%;
    min-width: 320px;
    height: 200px;
    /* text-align: center; */
    background-image: url(./img/mujer\ joven\ y\ degradado.png);
    background-repeat: no-repeat;
}
header img{
    width:150px;
    height:40px;
    margin-top: 6px;
    margin-bottom: 6px;
    align-self:left;
}
.header--title-container{
    width:50%;
    min-width:166px;
    max-width:656px;
    height:218px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 5px;
    text-align: left;
    align-self: left;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    color:#fff;
    text-align: center;
}
.header--title-container .width{
    display: inline-block;
    /* width:30%; */
    min-width:141px;
    max-width: 526px;
    border: 1px solid #0F4E6D;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    margin-left: 10px;
}
.header--title-container p{
    font-size:2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2.4rem;
    color: #fff;
    text-align: center;
}
main{
    width:100%;
    height: auto;
}
.main-plans-container{
    width:100%;
    height: auto;
    padding-top: 7px;
    padding-bottom:55px;
    text-align: center;
}
.main-plans-container--title{
    width:90%;
    min-width: 202px;
    max-width: 546px;
    margin:0 auto;
}
 .main-plans-container--title h2{  /* Juntar con todos los h2*/
    font-size: 2.6rem;
    line-height: 3.1rem;
    font-weight: 400;
    color:var(--dark-blue);
}
.main-plans-container--title p{
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    font-style: italic;
    color:var(--dark-blue);
    margin-bottom: 13px;
}
.main-plans-container--boxes{
    width:70%;
    min-width: 154px;
    max-width: 228px;
    height: 200px;
    margin: 0 auto; /*ayuda a centrar*/
}
.main-plans-container--container{
    width:70%;
    min-width: 154px;
    max-width: 228px;
    height: 140px;
    margin: 0 auto;
    border: 1px solid #DAECF4;
    border-radius: 0px 0px 23px 23px;
}
.main-plans-container--boxes h3{
    width:154px;
    height: 52px;
    background-color: var(--blue-sonored);
    border-radius: 23px 23px 0px 0px;
    margin: 0 auto;
    /* texto */
    padding:8px 23px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.1rem;
    font-style: italic;
    color:#fff;
}
.main-plans-container--boxes-light{
    width:67px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: var(--plans-blue);
    margin:0 auto;
}
.main-plans-container--boxes-bold{
    width:118px;
    font-size: 2.6rem;
    line-height: 3.1rem;
    font-weight: 500;
    color: var(--plans-blue);
    margin:0 auto;
}
